<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="shortcut icon" href="imgs/icon.png">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <form action="/" method="POST">
            <input type="text" placeholder=" Enter city name" name="city">
            <input type="submit" value="ðŸ”">
        </form>
        <% if (!locals.error) {%> 
        <div class="card">
            <h1><%= data.location.name %> </h1>
            <% if (locals.region) {%> 
                <h2><%= region %> </h2>
            <% }else{ %>
                <h2><%= data.location.region %> </h2>
            <% } %> 
            <div class="temp"><%= data.current.temp_c %>Â°C</div>                
            <div class="des"><%= data.current.condition.text %></div>
            <img class="des-icon" src="<%= data.current.condition.icon %>">
            <div class="details">
                <div class="col">
                    <img src="imgs/humidity.png" alt="">
                    <div>
                        <p class="humidity"><%= data.current.humidity %>%</p>
                        <p>humidity</p>
                    </div>
                </div>
                <div class="col">
                    <img src="imgs/wind.png" alt="">
                    <div>
                        <p class="wind"><%= data.current.wind_kph %> km/h</p>
                        <p>wind</p>
                    </div>
                </div>
            </div>
        </div>
        <% } else{%>
            <div class="card">
                <h1 class="error"><%= error %> </h1>
            </div>
        <% } %> 
    </div>
</body>
</html>